### Java ###
# Compiled class file
*.class

# Log file
*.log

#bin file
*.bin

#lock file
*.lock

# Gradle 관련 파일 무시
.gradle
**/build/
!src/**/build/
.gradletasknamecache
gradle-app.setting


# 빌드 결과물 무시
build/
build/**
/build/
/bin/
/out/
/target/

# application properties 파일 숨기기
src/main/resources/application.properties

# IDE 설정
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
